/* Universel CSS */
* h2,
.stepper h2 {
    font-weight: 600;
}

/* Navigation bar CSS*/
.navbar-area.nav-style-01 {
    background-color: white;
    margin-bottom: 0;
}

.navbar-area.nav-style-01 .nav-container {
    background-color: white;
}

.navbar-area.nav-style-01 .nav-container .navbar-collapse .navbar-nav li a {
    color: #29323D;
}

.navbar-area .nav-container .navbar-collapse .navbar-nav li a:not(.dropdown-menu .dropdown-item) {
    margin-left: 24px;
}

.navbar.navbar-area.nav-style-01 .navbar-toggler-icon {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4%208H28ZM4%2016H28ZM4%2024H28Z%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M4%208H28M4%2016H28M4%2024H28%22%20stroke%3D%22%232E2D2D%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E);
    /* background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJmaV8yNzMyNjU3Ij48cGF0aCBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Im01LjAwMDczIDE3LjU4NjRjLS4zOTA1LjM5MDYtLjM5MDQ0IDEuMDIzNy4wMDAxMiAxLjQxNDJzMS4wMjM3Mi4zOTA1IDEuNDE0MjEtLjAwMDFsNS41ODUyNC01LjU4NjIgNS41ODU3IDUuNTg1N2MuMzkwNS4zOTA1IDEuMDIzNy4zOTA1IDEuNDE0MiAwcy4zOTA1LTEuMDIzNyAwLTEuNDE0MmwtNS41ODU4LTUuNTg1OCA1LjU4NTQtNS41ODYzOGMuMzkwNC0uMzkwNTYuMzkwNC0xLjAyMzcyLS4wMDAyLTEuNDE0MjEtLjM5MDUtLjM5MDUtMS4wMjM3LS4zOTA0NC0xLjQxNDIuMDAwMTJsLTUuNTg1MyA1LjU4NjI3LTUuNTg1NzItNS41ODU3OWMtLjM5MDUyLS4zOTA1Mi0xLjAyMzY5LS4zOTA1Mi0xLjQxNDIxIDAtLjM5MDUzLjM5MDUzLS4zOTA1MyAxLjAyMzY5IDAgMS40MTQyMmw1LjU4NTkzIDUuNTg1ODd6IiBmaWxsPSJyZ2IoMCwwLDApIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjwvcGF0aD48L3N2Zz4=); */
}

.navbar-area.nav-style-01 .nav-container .navbar-collapse .navbar-nav li {
    line-height: 80px;
}

.dropdown-menu .dropdown-item {
    line-height: 50px;
    width: 100%;
    margin-left: unset;
    padding-left: 24px;
}

.dropdown-menu {
    min-width: 16rem;
}

.req-cam-btn {
    padding: unset;
    font-size: 14px;
    color: #29323D !important;
}

#loginBtn {
    background-color: #FEF9F6;
    color: #FE6401;
    padding: 7px 10px;
    border-radius: 7px;
    font-weight: 700;
}

.btn-resp li {
    list-style: none;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 3s ease !important;
}

@media only screen and (max-width:992px) {
    .navbar-area.nav-style-01 .nav-container .navbar-collapse .navbar-nav li {
        line-height: 40px;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li a:not(.dropdown-menu .dropdown-item) {
        margin-left: 18px;
    }

    .logo-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .logo-wrapper ul {
        margin: unset;
    }

    .req-cam-btn {
        color: #29323D !important;
        font-size: 14px;
    }
}

@media only screen and (max-width:360px) {
    .logo-wrapper {
        flex-direction: column;
        align-items: start;
    }

    .logo-wrapper ul {
        margin-top: 20px;
    }
}

/* Footer CSS */
.footer-area {
    margin: unset;
}

.footersec a.button {
    border-radius: 5px;
}

@media only screen and (max-width:991px) {
    .footer-area .row {
        gap: 30px;
    }

    .footersec li {
        padding: 5px 0px;
    }

    .footersec h3 {
        margin-bottom: 5px;
    }
}

/* About CSS */
.aboutsec {
    padding: 60px 0;
}

.abtbgimg {
    margin: unset;
    overflow: hidden;
    border-radius: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abtbgimg img {
    height: 100%;
}

@media only screen and (max-width:992px) {
    .abtbgimg {
        display: none;
    }
}

/* How It Works CSS */
.listbdr {
    padding: 25px 0;
}

#webView li {
    flex-direction: column;
}

#webView .hiwlist {
    margin-top: 20px;
}

/* About CEO CSS */
.aboutCeo img {
    width: 100%;
}

.aboutCeo-content {
    padding-left: 35px;
}

@media only screen and (max-width:992px) {
    .aboutCeo img {
        margin-top: 15px;
    }

    .aboutCeo-content {
        padding: unset;
    }
}

/* About Grouppal CSS */
.about-G-pal {
    background-color: #F7F7F9;
}

.about-G-pal h3,
.faqSec h3,
.testimoni-Sec h3 {
    color: #FFBC2E;
    font-family: 'Amatic SC', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

/* FAQ's CSS */
.faqSec .card-header {
    background-color: transparent;
    border: unset;
    padding-left: 0;
}

.faqSec .accordion :first-child {
    border: unset;
}

.faqSec .card-header a {
    font-weight: 500;
    width: 100%;
    text-align: left;
}

.faqSec .btn {
    padding: .375rem 0;
}

.faqSec .btn:focus {
    box-shadow: unset;
}

.faqSec .card {
    border: unset;
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    background-color: transparent;
}

.faqSec .card :nth-child(2) {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.faqSec .accordion>.card>.card-header {
    margin: unset;
}

.accordion .card .show :active .accordion .card {
    background-color: #FFBC2E;
}


/* Testimonials CSS */

.testimoni-Sec {
    background-color: rgba(223, 156, 56, 4%);
}

.testimoni-Sec #demo {
    margin: auto
}

.testimoni-Sec .carousel-caption {
    position: initial;
    z-index: 10;
    padding: 3rem 7rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-style: italic;
    line-height: 2rem;
}

@media(max-width:767px) {
    .testimoni-Sec .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-style: italic;
        line-height: 1.5rem
    }
}

.testimoni-Sec h4 {
    font-style: normal;
}

.testimoni-Sec .carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .testimoni-Sec .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

.testimoni-Sec #image-caption {
    font-style: normal;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    .testimoni-Sec #image-caption {
        font-style: normal;
        margin-top: 0.5rem
    }
}

.testimoni-Sec #image-caption p {
    color: #FE6401;
    font-weight: 600;
}

.testimoni-Sec i {
    background-color: rgba(223, 156, 56, 0.066);
    padding: 1.4rem;
    color: #FE6401;
}

@media(max-width:767px) {
    .testimoni-Sec i {
        padding: 0.8rem
    }
}

.testimoni-Sec .carousel-control-prev {
    justify-content: flex-start
}

.testimoni-Sec .carousel-control-next {
    justify-content: flex-end
}

.testimoni-Sec .carousel-control-prev,
.testimoni-Sec .carousel-control-next {
    transition: none;
    opacity: unset;
}

/* Campaigns CSS */
.Campaigns-sec {
    background-color: #fffaf7;
}

.nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}

.Campaigns-sec .caption .title {
    text-transform: capitalize;
    min-height: unset !important;
    width: 100%;
}

.thumbnail .caption {
    margin: unset;
}

.thumbnail .imgCover {
    max-height: 180px;
    overflow: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:768px) {
    .thumbnail .imgCover {
        max-height: 100%;
    }
}

.Campaigns-sec .thumbnail {
    transition: all 200ms ease-out;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 24px;
}

.Campaigns-sec .thumbnail:hover {
    box-shadow: -4px 4px 10px 0px #e2dada78;
    transition: all 200ms ease-out;
}

.Campaigns-sec .thumbnail:hover .title {
    color: #2b2a35;
}

.caption {
    padding: 20px;
}

.btnS a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FE6401;
    padding: 10px 0;
    width: 48%;
    border-radius: 7px;
    transition: all 200ms ease-in-out;
}

.btnS a:first-child {
    border: 1px solid #6e6e6e;
}

.btnS a:first-child p {
    color: #29323D;
    margin-left: 10px;
}

.btnS a:last-child {
    background-color: #FE6401;
}

.btnS a p {
    margin: unset;
    color: white;
    font-weight: 500;
}

.shareBtn img {
    height: 20px;
}

.btnS a:last-child:hover .donateBtn {
    scale: 1.1;
    transition: all 200ms ease-in-out;
}


/* Stepper CSS */
.stepperSec {
    background-color: #fffaf7;
}

.stepper .nav-tabs {
    position: relative;
}

.stepper .nav-tabs>li {
    width: 33.3%;
    position: relative;
}

.stepper .nav-tabs>li:after {
    content: "";
    position: absolute;
    background: #f1f1f1;
    display: block;
    width: 100%;
    height: 5px;
    top: 30px;
    left: 50%;
    z-index: 1;
}

.stepper .nav-tabs>li.completed::after {
    background: #34bc9b;
}

.stepper .nav-tabs>li:last-child::after {
    background: transparent;
}

.stepper .nav-tabs>li.active:last-child .round-tab {
    background: #34bc9b;
    scale: 1.1;
}

.stepper .nav-tabs>li.active:last-child .round-tab::after {
    content: "✔";
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: block;
}

.stepper .nav-tabs [data-toggle="tab"] {
    width: 25px;
    height: 25px;
    margin: 20px auto;
    border-radius: 100%;
    border: none;
    padding: 0;
    color: #f1f1f1;
}

.stepper .nav-tabs [data-toggle="tab"]:hover {
    background: transparent;
    border: none;
}

.stepper .nav-tabs>.active>[data-toggle="tab"],
.stepper .nav-tabs>.active>[data-toggle="tab"]:hover,
.stepper .nav-tabs>.active>[data-toggle="tab"]:focus {
    color: #34bc9b;
    cursor: default;
    border: none;
}

.stepper .tab-pane {
    position: relative;
    padding: 20px;
}

.stepper .round-tab {
    width: 25px;
    height: 25px;
    line-height: 22px;
    display: inline-block;
    border-radius: 25px;
    background: #fff;
    border: 2px solid #34bc9b;
    color: #34bc9b;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 14px;
}

.stepper .completed .round-tab {
    background: #34bc9b;
}

.stepper .completed .round-tab::after {
    content: "✔";
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: block;
}

.stepper .active .round-tab {
    background: #fff;
    border: 2px solid #34bc9b;
}

.stepper .active .round-tab:hover {
    background: #fff;
    border: 2px solid #34bc9b;
}

.stepper .active .round-tab::after {
    display: none;
}

.stepper .disabled .round-tab {
    background: #fff;
    color: #807d7d;
    border-color: #f1f1f1;
}

.stepper .disabled .round-tab:hover {
    color: #4dd3b6;
    border: 2px solid #a6dfd3;
}

.stepper .disabled .round-tab::after {
    display: none;
}

/* -------SepperBody------- */
.panel-body {
    padding: 0 !important;
}

.stepper .pull-right {
    margin-top: 0;
    margin-bottom: 20px;
}

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    color: #dc3545;
    margin-top: -10px;
    margin-bottom: 10px;
}

.tab-content h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.tab-content .form-group input {
    margin-bottom: 15px;
}

.tab-content label {
    font-weight: 400;
    margin-bottom: 0;
}

.tab-content .form-control,
.tab-content .form-select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 0 6px 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: unset;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tab-content input[type=text]:focus,
.tab-content input[type=email]:focus,
.tab-content input[type=url]:focus,
.tab-content input[type=password]:focus,
.tab-content input[type=search]:focus,
.tab-content input[type=tel]:focus,
.tab-content input[type=number]:focus,
.tab-content textarea:focus,
.tab-content input[type=button]:focus,
.tab-content input[type=reset]:focus,
.tab-content input[type=submit]:focus,
.tab-content select:focus {
    outline: none;
    box-shadow: none;
    border: unset;
    border-bottom: 1.5px solid #e85b03;
    border-radius: 0px;
}

.tab-content .form-control[disabled],
.tab-content .tab-content .form-control[readonly],
fieldset[disabled] .form-control .tab-content .form-group label {
    padding: 5px;
    margin-bottom: 10px;
}

.tab-content .title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #29323D;
}

.tab-content .support p {
    width: 100%;
}

.support .postedBy span {
    color: #FE6401;
}

.donateOptions {
    margin-bottom: 20px;
}

.donateOptions .button {
    float: left;
    margin: 0 5px 7px 0;
    width: 100px;
    height: 40px;
    position: relative;
}

@media only screen and (max-width:768px) {
    .donateOptions .button {
        width: 23.7%;
    }
}

.donateOptions .button label,
.donateOptions .button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.donateOptions .button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.donateOptions .button input[type="radio"]:checked+label {
    background: #ffcc8e;
    border-radius: 4px;
    border-color: #FE6401;
}

.donateOptions input[type="radio"]:checked+label {
    color: rgb(0, 0, 0);
    border-color: transparent;
    font-weight: 700;
}

.donateOptions .button label {
    cursor: pointer;
    z-index: 90;
    line-height: 2.0em;
    font-weight: 500;
}

.donateOptions #customAmountField {
    display: none;
}

.donateOptions #customAmountField .form-control {
    height: 42px;
}

.caField #amountError,
.caField #minAmountError {
    color: red;
    font-size: 13px;
    display: none;
    margin-top: 5px;
}

.donateOptions .caField {
    position: relative;
}

.donateOptions .caField::before {
    content: "₹";
    position: absolute;
    /* bottom: 18px; */
    top: 44px;
    left: 12px;
    transform: translateY(50%);
    font-size: 16px;
    color: #333;
    pointer-events: none;
}

@media only screen and (max-width:768px) {
    .donateOptions .caField::before {
        top: 43px !important;
    }
}

.donateOptions #customAmountField input {
    padding-left: 28px;
}

.totalAmount {
    display: none;
    width: 100%;
    background-color: rgb(250, 249, 247);
    padding: 15px;
    margin-top: 5px;
    text-align: center;
}

@media only screen and (min-width:768px) {
    .totalAmount {
        text-align: left;
    }
}

.totalAmount p {
    font-size: 20px;
    margin: unset;
}

.totalAmount p #currencyINR,
.totalAmount p #donationAmount-Get {
    font-weight: 700;
    color: #FE6401;
}

.tab-content ul li a {
    margin-top: 10px;
}

.tab-content ul li a:not(.prev-step) {
    background-color: #FE6401;
    color: white;
    border-color: transparent;
}

.tab-content ul li a:hover:not(.prev-step) {
    background-color: #e85b03;
    color: white;
    border-color: transparent;

}

.personalInfo p,
.currentAddress p {
    margin: unset;
}

/* Toaster CSS */
#toast {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: fit-content;
    padding: 10px 14px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    border-radius: 5px;
    overflow: hidden;
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    z-index: 99999;
    top: 10%;
    right: 0;
}

#icon-wrapper {
    width: 30px;
    height: 30px;
    background: var(--secondary);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
}

#icon {
    background: var(--primary);
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: relative;
}

#icon::before,
#icon::after {
    position: absolute;
    content: "";
    background: var(--secondary);
    border-radius: 5px;
    top: 50%;
    left: 50%;
}

#toast-message {
    padding: 5px 20px 5px 10px;
}

#toast-message h4,
#toast-message p {
    margin: 0;
    line-height: 1.2em;
}

#toast-message h4 {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .05em;
    color: #E63435;
}

#toast-message p {
    font-size: 12px;
    color: #404040;
}

#toast-message p {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: .05em;
    color: #606060;
}

#toast-close {
    position: relative;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    transition: background 0.2s ease-in-out;
}

#toast-close:hover {
    background: rgba(0, 0, 0, 0.1);
}

#toast-close::before,
#toast-close::after {
    position: absolute;
    content: '';
    height: 12px;
    width: 1px;
    border-radius: 5px;
    background: #606060;
    top: 50%;
    left: 50%;
    transition: background 0.2s ease-in-out;
}

#toast-close:hover::before,
#toast-close:hover::after {
    background: #404040;
}

#toast-close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

#toast-close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes pulse-glow {
    0% {
        box-shadow: 0 0 0px rgba(230, 52, 53, 0.6);
    }

    50% {
        box-shadow: 0 0 15px rgba(230, 52, 53, 0.9);
    }

    100% {
        box-shadow: 0 0 0px rgba(230, 52, 53, 0.6);
    }
}


@keyframes open {
    from {
        right: -100%;
        opacity: 0;
        transform: translateX(100%);
        visibility: hidden;
    }

    to {
        right: 10px;
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes close {
    from {
        right: 10px;
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }

    to {
        right: -100%;
        opacity: 0;
        transform: translateX(100%);
        visibility: hidden;
    }
}

#timer {
    width: 0%;
    height: 2.5px;
    background: var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 5px;
    box-shadow: 0 0 8px var(--primary);
}

.timer-animation {
    animation: countdown 10s linear forwards;
}

@keyframes countdown {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.error {
    --primary: #E63435;
    --secondary: #FFEAEC;
}

.error #icon::before {
    width: 3px;
    height: 3px;
    transform: translate(-50%, calc(-50% + 4px));
}

.error #icon::after {
    width: 3px;
    height: 7px;
    transform: translate(-50%, calc(-50% - 2px));
}


/* Payment message CSS  */
.downloadBtn {
    padding: 10px 15px;
    background-color: green;
    margin-top: 25px;
    color: white;
    border-radius: 4px;
}

._success p {
    margin-bottom: 30px;
}